body {
  margin: 0;
  font-family: "Arial", sans-serif;
  background-color: #eceff1;
  color: #333;
}

.sidebar {
  width: 250px;
  background-color: #424a5d;
  position: fixed;
  height: 100%;
  padding: 20px;
  box-sizing: border-box;
}

.sidebar h2 {
  color: #fff;
  text-align: center;
  font-weight: normal;
  margin-bottom: 40px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  margin-bottom: 20px;
}

.sidebar nav ul li a {
  color: #b0bec5;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.sidebar-footer {
  position: absolute;
  bottom: 20px;
  left: 20px;
  color: #b0bec5;
}

.main-content {
  margin-left: 250px;
  padding: 20px;
  box-sizing: border-box;
}

.top-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #3f475b;
  padding: 10px 20px;
  color: #fff;
}

.top-nav ul {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
}

.top-nav ul li {
  margin-right: 20px;
}

.top-nav ul li a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
}

.profile {
  background-color: #59627c;
  padding: 8px 15px;
  border-radius: 20px;
}

main h3 {
  color: #666;
  margin-top: 20px;
  margin-bottom: 20px;
  font-size: 20px;
}

.timetable {
  width: 100%;
  border-collapse: collapse;
}

.timetable thead th {
  background-color: #e3e6ec;
  color: #333;
  padding: 15px;
  text-align: center;
  border: 1px solid #ccc;
}

.timetable tbody td {
  background-color: #fff;
  color: #333;
  padding: 15px;
  text-align: center;
  border: 1px solid #ccc;
}

.timetable tbody tr:hover td {
  background-color: #f5f5f5;
}

.timetable tbody td small {
  display: block;
  color: #999;
  margin-top: 5px;
}

.timetable tbody tr td:first-child {
  font-weight: bold;
}

.sidebar nav ul li a:hover,
.top-nav ul li a:hover {
  color: #fff;
  text-decoration: underline;
}

header {
    margin-bottom: 20px;
  }

#mySelect {
  width: 20%;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  color: #333;
  cursor: pointer;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: border-color 0.3s ease;
  margin-bottom: 20px;
}

#mySelect:hover {
  border-color: #888;
}

#mySelect:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 0 3px rgba(38, 143, 255, 0.2);
}

#mySelect option {
  padding: 10px;
}
